Repository SakshiPandey97/UniBazaar, pull requests merged in 2025-04, with the labels that each got.

#126 Added: chat db updates when new users login
  Backend/messaging/handler/user_handler.go
  Backend/messaging/main.go
  Backend/messaging/repository/user_repository.go
  Backend/users/handler/routes.go
  FE-UniBazaar/src/__tests__/api/userAxios.test.jsx
  FE-UniBazaar/src/__tests__/customComponents/ProductCard.test.jsx
  FE-UniBazaar/src/__tests__/customComponents/Products.test.jsx
  FE-UniBazaar/src/__tests__/customComponents/WebSocket.test.jsx
  FE-UniBazaar/src/__tests__/hooks/useFetchMessages.test.jsx
  FE-UniBazaar/src/__tests__/setupTests.js
  FE-UniBazaar/src/api/messagingAxios.js
  FE-UniBazaar/src/api/userAxios.js
  FE-UniBazaar/src/customComponents/ProductCard.jsx
  FE-UniBazaar/src/customComponents/Products.jsx
  FE-UniBazaar/src/customComponents/WebsocketConnection.jsx
  FE-UniBazaar/src/hooks/useAuthHandler.jsx
  FE-UniBazaar/src/hooks/useFetchMessages.jsx
  FE-UniBazaar/src/hooks/useStartChat.jsx
  FE-UniBazaar/src/hooks/useUserAuth.jsx
  FE-UniBazaar/src/pages/Messaging.jsx
  FE-UniBazaar/src/pages/ProductsPage.jsx
  FE-UniBazaar/src/pages/SellProductPage.jsx
  FE-UniBazaar/src/utils/productMappings.js
Labels: frontend, backend, sprint_w4

#132 Enhance: improved chat app layout, closes issue #131
  FE-UniBazaar/src/__tests__/customComponents/MessageDisplay.test.jsx
  FE-UniBazaar/src/customComponents/Chat/ChatHeader.jsx
  FE-UniBazaar/src/customComponents/Chat/ChatPanel.jsx
  FE-UniBazaar/src/customComponents/Chat/ContactList.jsx
  FE-UniBazaar/src/customComponents/Chat/MessageDisplay.jsx
  FE-UniBazaar/src/customComponents/Chat/MessageInput.jsx
  FE-UniBazaar/src/customComponents/Chat/MessageList.jsx
  FE-UniBazaar/src/customComponents/MessageDisplay.jsx
  FE-UniBazaar/src/hooks/useStartChat.jsx
  FE-UniBazaar/src/pages/Messaging.jsx
Labels: enhancement, frontend, sprint_w4

#144 Improved search bar visibility, fixed routes issue
  Backend/users/handler/routes.go
  FE-UniBazaar/src/customComponents/Banner.jsx
Labels: frontend, backend, sprint_w4

#139 Update: key press now sends the message directly
  Backend/messaging/handler/message_handler.go
  Backend/messaging/main.go
  Backend/messaging/repository/message_repository.go
  FE-UniBazaar/src/api/messagingAxios.js
  FE-UniBazaar/src/customComponents/Chat/ChatPanel.jsx
  FE-UniBazaar/src/customComponents/Chat/ContactList.jsx
  FE-UniBazaar/src/customComponents/Chat/MessageInput.jsx
  FE-UniBazaar/src/pages/Messaging.jsx
Labels: enhancement, frontend, sprint_w4

#146 Host messaging backend on azure and changed port to 8000
  Backend/messaging/.gitignore
  Backend/messaging/db/database.go
  Backend/messaging/dockerfile
  Backend/messaging/go.mod
  Backend/messaging/go.sum
  Backend/messaging/main.go
  FE-UniBazaar/.env
  FE-UniBazaar/.gitignore
  FE-UniBazaar/src/__tests__/customComponents/ChatHeader.test.jsx
  FE-UniBazaar/src/__tests__/customComponents/ChatPanel.test.jsx
  FE-UniBazaar/src/__tests__/customComponents/ContactList.test.jsx
  FE-UniBazaar/src/__tests__/customComponents/MessageInput.test.jsx
  FE-UniBazaar/src/__tests__/customComponents/MessageList.test.jsx
  FE-UniBazaar/src/__tests__/customComponents/WebSocket.test.jsx
  FE-UniBazaar/src/__tests__/hooks/useFetchMessages.test.jsx
  FE-UniBazaar/src/customComponents/WebsocketConnection.jsx
  FE-UniBazaar/src/hooks/useFetchMessages.jsx
  FE-UniBazaar/src/pages/Messaging.jsx
Labels: enhancement, frontend, backend, sprint_w4
